<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>858631128312-0llf2aaq6774iej05fkaj06semm5ldc6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.858631128312-0llf2aaq6774iej05fkaj06semm5ldc6</string>
	<key>API_KEY</key>
	<string>AIzaSyCQurb5NyrJToR54IVnBHsSl9dbUxOS-Pg</string>
	<key>GCM_SENDER_ID</key>
	<string>858631128312</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hgarzstudios.FirebaseBasicTraining</string>
	<key>PROJECT_ID</key>
	<string>fir-sample-c643c</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-sample-c643c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:858631128312:ios:a0e261c7295ff888</string>
	<key>DATABASE_URL</key>
	<string>https://fir-sample-c643c.firebaseio.com</string>
</dict>
</plist>